

<ul *ngIf="heroess.length">
    <li><a routerLink="anadir">Alta</a></li>
</ul> 


<!-- <app-list 
    (AuxselectHero)="onSelect($event)" 
    [heroes]="heroes" >
</app-list> -->

<div class="wraper">
    
    <app-list *ngIf="heroess.length > 0" 
        (AuxselectHero)="onDelete($event)" 
        [heroes]="heroess" >
    </app-list> 

    <router-outlet></router-outlet>

</div>
 
<div class="notfound" [ngClass]="{'visible' : visible}">
    <span >No hay ningun Heroe intenta dar de alta o consulte con su ADMIN</span>
</div>


<!-- 
    <hr>
<ng-container *ngIf="selectHero.name">
    <app-detail  [hero]="selectHero"></app-detail>
</ng-container> -->